<div class="main welcome">
      <div class="container">
        <div class="header">
          <img src="http://vignette2.wikia.nocookie.net/logopedia/images/4/4d/Step-up-movie-logo.png/revision/latest?cb=20151025205746" height="42" width="42">
          <div class="my_name">
            <a href="#">Samira</a>
          </div>
              <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Portfolio</a>
                <a href="#">Careers</a>
                <a href="#">Cotnact</a>
          </nav>
        </div>
        <div class="main">
          <style>
body {
        background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/Light-Pink-Background-Wallpaper.jpg"); 
} 
 
</style>
          <div class="tagline">
            Hi, all. This is Samira from the green city of Kuala lampur in Malaysia.I'm a passionate web developer who only builds what you need and want. A website does not have to be expensive to be effective.Sure you've got some requirements.N worries, we will discuss them in person or on the phone.
            <input type="button" value="View My Work" />
          </div>
        </div>
          
      </div>
  <footer>
    <tbody>
      <tr style="border-bottom: none;">
         <td style="vertical-align: top; padding: 0px; text-align:center; padding-right: 5px;">
           <span class="aligncenter ut-custom-icon">
             <i class="fa fa fa-envelope-o fa-lg" style="color:#EB8127"> </i>
           </span>
         </td>
         <td style="text-align: left; vertical-align: top; padding: 0px;"> 
           <strong>Email:</strong> 
           <a style="color: #999;" href="mailto:team@shockmediastudio.com">s.soltani336@gmail.com</a>
           <br>
           <strong>Github:</strong>
           <a style="color: #999;" href="mailto:helpdesk@shockmediastudio.com">https://github.com/Samiira64</a><br>                      <strong>Facebook:</strong> 
           <a style="color:#999;"href="https://www.facebook.com/">
            https://www.facebook.com/samira.soltani
           </a>
           <br>
           <strong>LinkedIn:</strong>
           <a style="color: #999;"   href="https://www.linkedin.com/company/shockmediastudio">
             www.linkedin.com/company/shockmediastudio
           </a>
        </td>
</tr>
</tbody>
  </footer>
</div>
